* {
    font-family: 'Dosis', sans-serif;
}

body {
    background-image: url(../images/02.jpg);
    background-size: cover;
    margin-top: 1%;
}

.navbar {
    background-color: rgb(133, 126, 123);
    opacity: 90%;
}

/* links */
.navbar-light .navbar-nav .nav-link:link {
    color: rgb(53, 36, 53);
  }
  
  .navbar-light .navbar-nav .nav-link:visited {
    color: gainsboro;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
    font-size: larger;
  }
  
  .navbar-light .navbar-nav .nav-link:active {
    color: #832965;
  }

  a:link {
    color: rgb(53, 36, 53);
  }
  
  a:visited {
    color: gainsboro;
  }
  
  a:hover {
    color: black;
    font-size: larger;
  }
  
  a:active {
    color: #832965;
  }

/* text*/

h3 {
    color: rgb(158, 17, 95);
    padding: 1%;
}

h1 {
    color: rgb(158, 17, 95);
    text-align: left;
}

p {
    color: black;}

/* body */

.container {
    margin: 2%;
    max-width: 800px;
    min-height: 500px;
    max-height: 900px;
    background-color: rgb(133, 126, 123);
    opacity: 90%;
    padding: 14px;
    align-content: center;
    }

.resume {
    margin: 2%;
    max-width: 408px;
    min-height: 500px;
    max-height: 900px;
    background-color: rgb(133, 126, 123);
    opacity: 90%;
    padding: 14px;
    }    

.container-folio {
    margin: 2%;
    margin-bottom: 15%;
    max-width: 800px;
    height: 1147px;
    background-color: rgb(133, 126, 123);
    opacity: 90%;

    }

.btn-primary {
        color: honeydew;
        background-color: rgb(158, 17, 95);
        border-color: rgb(158, 17, 95);
    }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(85, 55, 85);
    border-color: rgb(85, 55, 85);
}

.card-img {
    max-width: 350px;
    float: left;
    opacity: 100%;
    /* margin: 1%; */
}

.card-body {
    float: left;
}

/* socials */

.fa-linkedin-square {
    color: #fff;
    float: right;
}

.fa-envelope-o {
    color: #fff;  
    float: right;
}

.fa-github {
    float: right;
}

.socials {
    margin-top: 5%;
    color: rgb(158, 17, 95);
}

button {
    color: #fff;
    background-color: rgb(158, 17, 95);
    border-color: rgb(158, 17, 95);
}

/* footer */

section {
    height: 10px;
    width: 100%;
    bottom: 50px;
    left: -1%;
    background-color: rgb(196, 95, 2);
}

footer {
    position: fixed;
    height: 50px;
    width: 110%;
    bottom: 0%;
    left: -1%;
    background-color: rgb(133, 126, 123);
}

.foot-folio {
    position: fixed;
    height: 50px;
    width: 110%;
    bottom: 0%;
    left: -1%;
    background-color: rgb(133, 126, 123);
}

@media screen and (max-width: 801px) {

    .container-folio {
        margin: 2%;
        margin-bottom: 15%;
        max-width: 415px;
        height: 1708px;
    }
}
